* {
    margin: 20px;
    padding: 0;
}


.btn {
      
    display: flex;
 justify-content: center;
    align-items: center;
    color: rgb(3, 60, 60);
}

button {
    height: 50px;
    width: 200px;
    background-color: blueviolet;
    color: blue;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    background-color: yellow;
}

h1 {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 50px;
}

body {
    background-image: url('images/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
